<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% load static %}
{% block content %}<!-- Base Stuff -->

<h2>Privacy Policy</h2><!-- Title -->
<div class="paragrahContent"><!-- Container -->
    <p>At Riget Zoo Adventures, we value your privacy. This privacy policy outlines how we collect, use, and protect your personal information when you visit our website. </p>
    <h3>Information We Collect </h3><!-- Infomration -->
    <p>We may collect personal information such as name, email address, and phone number when voluntarily provided by visitors through our contact forms or newsletter sign-up. 
        We may also collect non-personal information such as IP address, browser type, and operating system for website analytics purposes. 
        </p>
    <h3>Use of Information </h3>
    <p>Personal information provided by visitors is used solely for communication purposes, such as responding to inquiries or sending newsletters. 
        Non-personal information is used to analyze website traffic and improve our services. 
        </p>
    <h3>Protection of Information </h3>
    <p>We implement appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of personal information. </p>
    <h3>Third-Party Links </h3>
    <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites. </p>
    <h3>Updates to Privacy Policy </h3>
    <p>We reserve the right to update or modify this privacy policy at any time. Any changes will be effective immediately upon posting on this page. </p>
    <h3>By using our website, you consent to the terms of this privacy policy. </h3>
</div>
{% endblock content %}