<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% load static %}<!-- Django base stuff -->
{% block content %}

<h2>Terms and Conditions</h2><!-- Title  -->

<div class="paragrahContent"><!-- Whole lotta text -->
    <p>Welcome to Riget Zoo Adventures! These terms and conditions outline the rules and regulations for the use of Riget Zoo Adventures’s Website.</p>
    <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Riget Zoo Adventures if you do not agree to take all of the terms and conditions stated on this page. </p>
    <h3>Access to Animals</h3>
    <p>While Riget Zoo Adventures may provide information about its animals, please note that actual access to the animals is subject to the zoo’s operating hours, availability, and any safety regulations. Riget Zoo Adventures reserves the right to deny access to certain areas or animals for safety or operational reasons. </p>
    <h3>Children’s Supervision</h3>
    <p>Children under the age of 16 must be accompanied by an adult while visiting Riget Zoo Adventures. Riget Zoo Adventures is not responsible for supervising children. </p>
    <h3>Photography and Filming </h3>
    <p>Photography and filming for personal use are generally allowed within Riget Zoo Adventures, but please respect the privacy of other visitors and the animals. Commercial photography and filming require prior permission from Riget Zoo Adventures. </p>
    <h3>Prohibited Activities </h3>
    <p>The following activities are strictly prohibited within Riget Zoo Adventures: </p>
    <ul>
        <li>Feeding the animals, unless provided with designated feeding areas and food. </li>
        <li>Climbing on fences, barriers, or any structures. </li>
        <li>Disruptive behavior that may disturb other visitors or the animals. </li>
        <li>Bringing pets into the zoo premises, except for service animals. </li>
    </ul>
    <h3>Ticketing and Membership </h3>
    <p>Tickets purchased for admission to Riget Zoo Adventures are non-refundable and non-transferable. Membership privileges are subject to the terms outlined in the membership agreement. </p>
    <h3>Use of Website Content </h3>
    <p>All content provided on the Riget Zoo Adventures website, including text, images, videos, and logos, is the property of Riget Zoo Adventures and is protected by copyright laws. Any unauthorized use of the website content is prohibited. </p>
    <h3>Disclaimer</h3>
    <p>While Riget Zoo Adventures strives to provide accurate and up-to-date information, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. </p>
    <h3>Limitation of Liability </h3>
    <p>In no event shall Riget Zoo Adventures, nor any of its officers, directors, or employees, be liable for any indirect, consequential, or incidental damages arising out of or in connection with your use of the website. </p>
    <h3>Governing Law & Jurisdiction </h3>
    <p>These Terms will be governed by and construed in accordance with the laws of the jurisdiction where Riget Zoo Adventures is located, and you submit to the non-exclusive jurisdiction of the courts in that jurisdiction for the resolution of any disputes. </p>
    <h3>Changes to Terms </h3>
    <p>Riget Zoo Adventures reserves the right to update or modify these terms and conditions at any time without prior notice. Your continued use of the website after any such changes constitutes your acceptance of the new terms and conditions.</p>
</div>

{% endblock content %}